* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-menu {
  background-color: rgba(31, 31, 31, 0.8);
  color: #fff;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  min-height: 100vh;
  width: 200px;
  position: absolute;
  top: 0;
  left: -200px;
  transition: all .5s ease-in-out;
}

.side-menu.open {
  background-color: rgba(31, 31, 31, 0.8);
  color: #fff;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  min-height: 100vh;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease-in-out;
}

.menu-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background-color: rgb(131, 131, 131);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: rgb(131, 131, 131);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open {
  z-index: 1;
  left: 100px;
  transition: all .5s ease-in-out;
  transition-delay: 1s;
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  background-color: lightgray;
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  background-color: lightgray;
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu-btn.open:hover .menu-btn__burger::before,
.menu-btn.open:hover .menu-btn__burger::after {
  background-color: aqua;
}

.nav-sidebar {
  margin-top: 150px;
}

.nav-sidebar a {
  margin-left: 20px;
  line-height: 2;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.nav-sidebar a:hover {
  color: aqua;
}

.main-content {
  margin-left: 100px;
}